@model BanDoDienTu_Nhom06_N03.Models.HoaDonBan

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Nhân viên</td>
                <td>@Model.MaNv</td>
            </tr>
            <tr>
                <td>Khách hàng</td>
                <td>@Model.MaKh</td>
            </tr>
            <tr>
                <td>Ngày bán</td>
                <td>@Model.NgayBan.Value.ToString("dd/MM/yyyy")</td>
            </tr>
            <tr>
                <td>Tổng tiền</td>
                <td>@Model.TongTien.Value.ToString("N0") đ</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaHdb">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
