@model BanDoDienTu_Nhom06_N03.Models.NhaCungCap

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Bạn có chắc muốn xóa nhà cung cấp này không?</h3>
<div class="col-md-9">
    <hr />
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Mã nhà cung cấp</td>
                    <td class="text-dark font-weight-bold">@Html.DisplayFor(model => model.MaNcc)</td>
                </tr>
                <tr>
                    <td>Tên nhà cung cấp</td>
                    <td class="text-dark font-weight-bold">@Html.DisplayFor(model => model.TenNcc)</td>
                </tr>
                <tr>
                    <td>Số điện thoại</td>
                    <td>@Html.DisplayFor(model => model.Sdtncc)</td>
                </tr>
                <tr>
                    <td>Địa chỉ</td>
                    <td>@Html.DisplayFor(model => model.DiaChiNcc)</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaNcc" />
        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
        <br />
        <br />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
