@model BanDoDienTu_Nhom06_N03.Models.NhaCungCap

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-9">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Mã nhà cung cấp</td>
                <td>@Html.DisplayFor(model => model.MaNcc)</td>
            </tr>
            <tr>
                <td>Tên nhà cung cấp</td>
                <td>@Html.DisplayFor(model => model.TenNcc)</td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td>@Html.DisplayFor(model => model.Sdtncc)</td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td>@Html.DisplayFor(model => model.DiaChiNcc)</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaNcc">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
