@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row align-items-center">
    <div class="col-lg-6 order-lg-2 block-image">
        <img src="/Clientassets/img/products/do-dien-tu-am-thanh.png" alt="thiết kế web đồ điện tử âm thanh Sapo Web" style="text-align: center;margin-left: 100px;" />
    </div>
    <div class="col-lg-6 order-lg-1 block-content">
        <h2 style="margin-top: 0;font-weight: 300; margin-bottom: 15px;padding-bottom: 14px;padding-left: 80px;color: #096f47; position: relative;font-size: 24px;font-family: inherit;  ">
            Sự bùng nổ của kinh doanh đồ điện tử
        </h2>
        <p style="margin-left: 80px; text-align: justify ">
            &emsp;Thị trường bán lẻ của mặt hàng này ngày càng tăng mạnh với sự xuất hiện  hàng loạt các trung tâm, siêu thị, cửa hàng điện tử lớn. Trước diễn biến căng thẳng, bạn buộc phải tìm một cách tiếp cận khách hàng mới. Và bán hàng trực tuyến chinh là giải pháp. Với việc xây dựng một website, khách hàng có thể chủ động tìm kiếm thông tin về cửa hàng của bạn. Việc mua sắm diễn ra 24/7 và không gặp cản trở nào về địa lý.<br /> <br />&emsp;  Website của chúng tôi cung cấp các sản phẩm điện tử chất lượng cao từ các thương hiệu hàng đầu trên thị trường. Tại đây, bạn có thể tìm thấy các sản phẩm như điện thoại di động, máy tính bảng, máy tính xách tay, tai nghe và nhiều hơn nữa. Chúng tôi cam kết cung cấp cho bạn sản phẩm chất lượng và dịch vụ khách hàng tốt nhất để đảm bảo bạn có trải nghiệm mua sắm tuyệt vời trên trang web của chúng tôi.

        </p>
    </div>
</div>
<div class="doitac">
    <div class="col-sm-8 offset-sm-2 text-center colorlib-heading colorlib-heading-sm">
        <h2>Đối tác đáng tin cậy</h2>
    </div>
    <table style="width:80%;margin-left:200px;margin-top: 50px;">
        <tr>
            <th><img class="logodoitac" src="/Clientassets/img/products/samsung.jpg" style=" width:150px; height:100px;" /></th>
            <th><img class="logodoitac" src="/Clientassets/img/products/fpt.png" style=" width:150px; height:100px;" /></th>
            <th><img class="logodoitac" src="/Clientassets/img/products/iphone.png" style=" width:150px; height:80px;" /></th>
            <th><img class="logodoitac" src="/Clientassets/img/products/oppo.jpg" style=" width:150px; height:100px;" /></th>
            <th><img class="logodoitac" src="/Clientassets/img/products/sony.png" style=" width:150px; height:100px;" /></th>
        </tr>

    </table>
</div>

<style>
    .doitac {
        margin-top: 100px;
    }

    .logodoitac {
    }
</style>

