@model DangNhap
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/login/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/login/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/login/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/login/assets/images/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth">
                <div class="row flex-grow">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left p-5">
                            <div class="brand-logo">
                                <img src="~/adminassets/images/admin_shop.svg" />
                            </div>
                            @using (Html.BeginForm("Forget", "Login", FormMethod.Post))
                            {
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.TaiKhoan, new {@class="form-control form-control-lg", placeholder="Tên đăng nhập", required="required", autofocus="autofocus"})
                                </div>
                                <div class="form-group">
                                    @Html.TextBoxFor(x => x.MatKhau, new {@class="form-control form-control-lg", placeholder="Mật khẩu mới", required="required", autofocus="autofocus", type="Password"})
                                </div>
                                <div class="mt-3">
                                    <button type="submit" class="btn btn-block btn-gradient-primary btn-lg font-weight-bold">
                                        Lưu thay đổi
                                    </button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="~/login/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/login/assets/js/off-canvas.js"></script>
    <script src="~/login/assets/js/hoverable-collapse.js"></script>
    <script src="~/login/assets/js/misc.js"></script>
    <!-- endinject -->
    @await Component.InvokeAsync("Notyf")
</body>
</html>