
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NoRolesAdmin</title>
<style>
    h1.alert-danger {
        color: red;
        font-size: 24px;
    }

    a {
        color: blue;
        text-decoration: none;
    }

    a:hover {
        color: purple;
        text-decoration: underline;
    }
</style>
</head>
<body>
    <h1 class="alert-danger">Tài khoản của bạn không có quyền truy cập</h1>
    <a asp-controller="Home" asp-action="Index">Quay lại trang chủ</a>
</body>
</html>
