@model BanDoDienTu_Nhom06_N03.Models.SanPham

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Bạn có chắc muốn xóa sản phẩm này không</h3>
<div>
    <hr />
    <div class="table-responsive">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Tên sản phẩm</td>
                    <td class="text-dark font-weight-bold">@Html.DisplayFor(model => model.TenSp)</td>
                </tr>
                <tr>
                    <td>Số lượng</td>
                    <td>@Html.DisplayFor(model => model.SoLuong)</td>
                </tr>
                <tr>
                    <td>Giá sản phẩm</td>
                    <td>@(Model.GiaSp.HasValue ? Model.GiaSp.Value.ToString("N0") : "Liên hệ")</td>
                </tr>
                <tr>
                    <td>Ảnh sản phẩm</td>
                    <td>@Html.DisplayFor(model => model.AnhSp)</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="MaSp" />
        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
        <br />
        <br />
        <a asp-action="Index">Back to List</a>
    </form>
</div>
