@model BanDoDienTu_Nhom06_N03.Models.ChiTietHdn

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h3>Bạn có chắc muốn xóa chi tiết hóa đơn nhập này không</h3>
<div>
    <hr />
    <div class="table-responsive col-md-6">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td>Mã hóa đơn nhập</td>
                    <td class="text-dark font-weight-bold">@Html.DisplayFor(model => model.MaHdn)</td>
                </tr>
                                <tr>
                    <td>Mã sản phẩm</td>
                    <td class="text-dark font-weight-bold">@Html.DisplayFor(model => model.MaSp)</td>
                </tr>
                <tr>
                    <td>Số lượng</td>
                    <td>@Html.DisplayFor(model => model.Slnhap)</td>
                </tr>
            </tbody>
        </table>
    </div>

    <form asp-action="Delete">
        <input type="hidden" asp-for="MaHdn" />
        <input type="hidden" asp-for="MaSp" />
        <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
        <br />
        <br />
        <a asp-action="Index">Back to List</a>
    </form>
</div>

