@model BanDoDienTu_Nhom06_N03.Models.ChiTietHdn

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-6">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Mã hóa đơn nhập</td>
                <td>@Html.DisplayFor(model => model.MaHdn)</td>
            </tr>
            <tr>
                <td>Mã sản phẩm</td>
                <td>@Html.DisplayFor(model => model.MaSp)</td>
            </tr>
            <tr>
                <td>Số lượng nhập</td>
                <td>@Html.DisplayFor(model => model.Slnhap)</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-mahdn="@Model?.MaHdn" asp-route-masp="@Model?.MaSp">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
