@model BanDoDienTu_Nhom06_N03.Models.KhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-md-9">
    <table class="table table-striped">
        <tbody>
            <tr>
                <td>Mã khách hàng</td>
                <td>@Html.DisplayFor(model => model.MaKh)</td>
            </tr>
            <tr>
                <td>Tên khách hàng</td>
                <td>@Html.DisplayFor(model => model.TenKh)</td>
            </tr>
            <tr>
                <td>Số điện thoại</td>
                <td>@Html.DisplayFor(model => model.Sdtkh)</td>
            </tr>
            <tr>
                <td>Địa chỉ</td>
                <td>@Html.DisplayFor(model => model.DiaChiKh)</td>
            </tr>
        </tbody>
    </table>
</div>
<br />
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MaKh">Sửa</a> |
    <a asp-action="Index">Back to List</a>
</div>
